
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout - Client.cshtml";
}
<div class="wrapper" id="wrapper">

    <main id="main-content">
        @*@Html.Action("Slider", "Home");*@
        @*-------------------------------*@
        @Html.Action("TinTuc", "Home");
        @*---------------------------------*@
        <div class="social-fixed">
            <a href="tel: (+84-28) 37 242 181"><i class="fa fa-phone"></i></a>
            <a href="#" id="contactModalButton"><i class="fa fa-envelope"></i></a>
            <a href="https://www.facebook.com/vnuhcm.info/" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
            
            <a href="https://www.youtube.com/channel/UCw27okE0h0znMeG2U-FHTxg" target="_blank"><i class="fa fa-youtube"></i></a>
        </div>
    </main>
</div>
   

    

